html {
  scroll-behavior: smooth;
}
/* Página About */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 120px 80px 40px 80px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.about-text {
  width: 50%;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-text .email {
  color: #00d1b2;
  margin-bottom: 20px;
}

.about-text .description {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #ccc;
}

.about-text .location p {
  font-size: 14px;
  color: #999;
}

.about-img {
  width: 40%;
  text-align: right;
}

.about-img img {
  max-width: 100%;
  border-radius: 8px;
  filter: brightness(0.9);
}

